<!-- List all posts unique to user -->
 <div class="tile is-parent is-justify-content-center p-2 m-3 ">
      <h2 class="has-text-weight-bold is-size-2">-- My Blog Posts --</h2>
 </div>
 {{#if logged_in}}
  <div class="tile is-parent is-justify-content-center p-1 m-3 ">
      <button class="buttons has-text-weight-bold is-size-4 " id="add-post" >
        <a href="/post">+ Add New Post</a>
      </button>
  </div>
{{/if}}  

{{#each blogMap as | blog| }}
<div class="tile is-parent is-justify-content-center p-4 m-3" id ="post-{{blog.id}}">
  <div class="tile is-10 ">
      <article class="message" >
          <div class="message-header ">
            <p>{{blog.title}} </p>
            <button>Posted by: {{blog.user.username}} on {{format_date blog.created}}</button>
          </div>
          <div class="message-body">
            {{blog.content}} 
          </div>
          <div class="is flex is-justify-content-center is-center">
              <button class="buttons has-text-weight-bold is-size-8" id="update-btn" value="{{blog.id}}"><a href="/update/{{blog.id}}">Update</a></button>
              <button class="buttons has-text-weight-bold is-size-8" id="delete-btn" value="{{blog.id}}">Delete</button>
          </div>
     </article>
          </div>
     </article>
</div>
</div>
{{/each}}


<script src="/js/delete.js"></script>

