<!-- List all blogs -->
{{#each blogMap as |blog| }}
<div class="tile is-parent is-justify-content-center p-2 m-3 ">
  <div class="tile is-10 ">
      <article class="message" >
          <div class="message-header ">
            <p>{{blog.title}}</p>
            <button> Posted by: {{blog.user.username}} on {{format_date blog.created}}</button>
          </div>
          <div class="message-body has-text-weight-bold">
            {{blog.content}} 
          </div>

          <div>
            <h2 class="p-2 m-3 has-text-weight-bold is-size-7">COMMENTS:</h2>
            <p class="p-2 m-3 is-size-7">{{blog.content}} (Posted by: {{blog.user.username}} on {{format_date blog.created}})</p>
          </div>

     </article>
</div>
</div>
{{/each}}




<!-- <button class="delete"></button> -->
    